.Trams {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 70px 2px 1fr;
  grid-template-areas:
    '. tram7 tramicon tramicon tram9 .'
    'line line line line line line'
    'colA colA colA colB colB colB';
  overflow: hidden;
}

.Trams > :nth-child(1) {
  grid-area: tram7;
  align-self: center;
  justify-self: center;
}

.Trams > :nth-child(2) {
  grid-area: tramicon;
  align-self: center;
  justify-self: center;
}

.Trams > :nth-child(3) {
  grid-area: tram9;
  align-self: center;
  justify-self: center;
}

.Trams > :nth-child(4) {
  grid-area: line;
}

.TramsCol {
  display: grid;
  grid-area: colA;
  grid-auto-rows: 1fr;
  align-items: center;
}

.TramsCol.TramsColLast {
  grid-area: colB;
  border-left: 2px solid #25292B;
}

.TramsNumber {
  font-size: 30px;
  color: #2ECC71;
}

.TramsLine {
  height: 2px;
  background-color: #2ECC71;
}

.TramsCol {
  text-align: center;
}

.TramsTime:nth-child(1) {
  font-size: 70px;
}

.TramsTime:nth-child(2) {
  opacity: 0.8;
}

.TramsTime:nth-child(3) {
  opacity: 0.6;
}

.TramsTime:nth-child(4) {
  opacity: 0.4;
}

.TramsTime:nth-child(5) {
  opacity: 0.2;
}
