.Clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.Clock > :nth-child(1) {
  font-size: 140px;
  color: #fdfdfd;
  line-height: 140px;
}

.Clock > :nth-child(2) {
  font-size: 24px;
  color: #FDFDFD;
  opacity: 0.6;
  letter-spacing: 1px;
}
